* {
    box-sizing: border-box;
}

body{
    background-color: #93ace4;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 140px);
}
.buttons{
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 20;
    background: #374157;
    border-radius: 18px;
}
.buttons:hover .form_radio_btn{
    display:table;
    transition: 1s;
}
.form_radio_btn:not(:last-child) {
    display: none;
    transition: 1s;
}
/*.form_radio_btn#menu:hover~.form_radio_btn{
    display:table;
}*/
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    width: 80px;
    height: 80px;
    display: table;
    cursor: pointer;
    background: #374157;
    margin: 10px;
    border-radius: 50%;
    user-select: none;
}
 
.form_radio_btn input[type=radio]:checked + label {
    background: #93ace4;
}

.form_radio_btn label:hover {
    color: #666;
}
.box{
    display: flex;
    flex-direction: row;
    padding: 160px 10% 0 10% ;
}

.row{
    display: flex;
    flex-direction: row;
}
#a{
    justify-content: flex-end;
}

#b{
    justify-content: flex-start;
}

.column{
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
    padding: 10px;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.2);
    transition: 1s;
    z-index: 10;
}

.first{
    width: 25%;
}

.second{
    width: 25%;
}

@media (min-width: 769px) {
    .row,.first,.second{
        transition: all 1s;
    }
    .row{
        width: 50%;
    }
    .first{
        width: 55%;
    }
    .second{
        width: 40%;
    }
}

@media (max-width: 768px) and (min-width: 427px) {
    #a,#b{
        justify-content: center;
    }
    .row,.box,.first,.second{
        transition: all 1s;
    }
    .box{
        flex-direction: column;
        justify-content: center;
        padding: 70px 0 0 0 ;
        align-items: center;
    }
    .first, .second{
        width: 35%;
    }
    .box .first{
        width: 50%;
    }
}

@media (max-width: 427px) {
    .box{
        padding: 70px 0 0 0 ;
        flex-direction: column;
    }
    .row,.box,.first,.second{
        transition: all 1s;
        align-items: center;
    }
    .row{
        flex-direction: column;
        justify-content: center;
    }
    .first,.second{
        width: 80%;
    }
    .form_radio_btn label {
        width: 50px;
        height: 50px;
    }

}